<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always" (ionChange)="getItems($event)"></ion-searchbar>

  <ion-grid class="section" *ngFor="let section of sections">
    <ion-row class="header">
      <ion-col class="title">
        <h1>
          <ion-icon [ios]="section.icon"></ion-icon>
          {{section.title}}
        </h1>
      </ion-col>
    </ion-row>

    <ion-row class="body" *ngFor="let new of section.news">
      <ion-card [routerLink] = "['/news/'+section.id+'/'+new.header.id]">
        <ion-row>
          <img [src]="new.body.img" alt="">
        </ion-row>
        <ion-col [size]="sectionsConfig.contentSize" class="content">
          <div class="contentTitle">
              <h2>
                {{new.header.title}}
              </h2>
          </div>
          <div class="contentbody">
            {{new.body.content.substring(0,244)}}
          </div>
          <ion-chip outline color="warning" *ngFor="let category of new.header.categories">
            <ion-label>{{category}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-card>
    </ion-row>

  </ion-grid>

</ion-content>
